.jumbo {
    margin-top: 100px;
    border-top: 7px yellow; 
}

.jumbotron {
    font-family: 'Patua One', cursive;
    font-size: 1.3em;
    font-weight: bold;
    color: red;
}

.instructions {
    text-align: center;
}

@media (max-width: 750px) {

    .instructions {
        margin-top: 140px;
    }
}